.container-main-page
 {
     height: 40px;
     background-color: royalblue;
 }
.container-column1
{
    height: 40px;
    background-color: beige  !important;
}
.container-column2
{
    height: 40px;
    background-color: fuchsia !important;
}
.container-column3
{
    height: 40px;
    background-color: salmon !important;
}