.container
 {
    width: 100%;
    background-color: #404040;
    font-family: 'Lato', sans-serif;
 }
.header
{
    color: white !important;
    margin-top: 20px;
    font-weight: 900;
}
.menu
{
    width: 80%;
    background-color: #303030;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}
.option
{
    float:left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;

}
.option:hover
{
    background-color: #000000;
    cursor: pointer;
}
.slider
{
    width: 80%;
    background-color: #128870;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}
#sliderL
{
    float:left;
    padding: 20px;
    width: 170px;
}
#sliderR
{
    float:left;
    text-align: center;
    width: 60%;
    padding: 20px;
    font-size 20px;
}
.body
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.link1
{
    width: 30%;
    background-color: salmon;
    float: left;
    text-align: center;
}
.link2
{
    width: 70%;
    background-color: silver;
    float: left;
    text-align: center;
}
.footer
{
    clear: both;
    text-align: center;
}